body {
	margin: 0;
	font-family: 'Archia';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #0a010ff6;
}

h1,
h2,
h3,
h4 {
	color: #fff;
}

button,
input {
	border-radius: 7px;
}
